$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans, $grays, $custom-colors);

$utilities: map-merge($utilities, ("position": map-merge(map-get($utilities, "position"),
                (responsive: true),
            ),
            "top": map-merge(map-get($utilities, "top"),
                (responsive: true,
                    values:(0:0%,
                        50:50%,
                        75:75%,
                        100:100%,
                    )),
            ),
            "bottom": map-merge(map-get($utilities, "bottom"),
                (responsive: true),
            ),
            "start": map-merge(map-get($utilities, "start"),
                (responsive: true,
                    values:(0:0%,
                        50:50%,
                        80:80%,
                        100:100%,
                    )),
            ),
            "end": map-merge(map-get($utilities, "end"),
                (responsive: true),
            ),
            "translate-middle": map-merge(map-get($utilities, "translate-middle"),
                (responsive: true),
            ),
            "width": map-merge(map-get($utilities, "width"),
                (responsive: true,
                    values: (auto: auto,
                        0: 0%,
                        25: 25%,
                        40:40%,
                        50: 50%,
                        75: 75%,
                        100: 100%,
                        125: 125%,
                        150: 150%,
                        175: 175%,
                        200: 200%,
                    )),
            ),
            "font-weight": map-merge(map-get($utilities, "font-weight"),
                (responsive: true,
                    values: ('light': 300,
                        'regular': 400,
                        'semibold': 600,
                        'bold': 700,
                        'extrabold': 800,
                        'black': 900,
                    )),
            ),
            "shadow": map-merge(map-get($utilities, "shadow"),
                (responsive: true),
            ),
            "font-size": map-merge(map-get($utilities, "font-size"),
                (responsive: true),
            ),
            "rounded": map-merge(map-get($utilities, "rounded"),
                (responsive: true, ),
            ),
            "rounded-start": map-merge(map-get($utilities, "rounded-start"),
                (responsive: true, ),
            ),
            "rounded-end": map-merge(map-get($utilities, "rounded-end"),
                (responsive: true, ),
            ),
            "border-width": map-merge(map-get($utilities, "border-width"),
                (responsive: true,
                    values:(0:0px,
                        1:1px,
                        2:2px,
                        3:3px,
                        4:4px,
                        5:5px,
                    )),
            ),
            "border": map-merge(map-get($utilities, "border"),
                (responsive: true),
            ),
            "rounded-top": map-merge(map-get($utilities, "rounded-top"),
                (responsive: true),
            ),

            "color": map-merge(map-get($utilities, "color"),
                (values: map-merge(map-get(map-get($utilities, "color"), "values"),
                        ($all-colors ),
                    ),
                    responsive: true),
            ),
            "background-color": map-merge(map-get($utilities, "background-color"),
                (values: map-merge(map-get(map-get($utilities, "background-color"), "values"),
                        ($all-colors ),
                    ),
                    responsive: true),
            ),
            "border-color": map-merge(map-get($utilities, "border-color"),
                (values: map-merge(map-get(map-get($utilities, "border-color"), "values"),
                        ($all-colors ),
                    ),
                    responsive: true),
            ),
        ));
