.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.producto {
    width: 25%; 
    margin: 16px;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #f9f9f9;
}


.producto img {
    max-width: 100%; /* Ajusta el tamaño máximo de las imágenes */
    height: auto; /* Mantiene la proporción de aspecto de las imágenes */
}
